{% extends "_main.html" %}
{% block body %}
<table style="background:#ffe0e0;border:2px solid #900;margin:30px 0" cellpadding="8">
 <tr><td><font size="3"><b>Supervisor Override Required</b></font></td></tr>
 <tr><td>This record is flagged for review. A supervisor must acknowledge before the record can be opened.</td></tr>
 <tr><td><form method="get" action="{{ t.prefix }}/member/{{ m.member_id }}"><input type="hidden" name="ack" value="1"><input type="submit" value="Acknowledge"></form></td></tr>
</table>
{% endblock %}
